.back-to-home__btn-container {
  padding: 20px 20px 0px;
}
.back-to-home__btn-container .back-to-home__btn {
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding-left: 5px;
  background-color: #FFFD82;
  box-shadow: 0px 1px #868530, 1px 2px #868530, 2px 3px #868530, 3px 4px #868530, 5px 6px black;
  width: 200px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: right;
  padding: 12px;
  height: 50px;
}
.back-to-home__btn-container .back-to-home__btn:hover {
  background-color: #fffb25;
}

.reset__btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reset__btn-container .reset__btn {
  height: 30px;
  width: 90px;
  margin: 100px 150px 0;
  text-align: center;
  background-color: #820933;
  box-shadow: 0px 1px #4d051e, 1px 2px #4d051e, 2px 3px #4d051e, 3px 4px #4d051e, 5px 6px black;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 18px;
  color: white;
}
.reset__btn-container .reset__btn:hover {
  background-color: #c41250;
  cursor: pointer;
}

.start__btn-container {
  display: grid;
  justify-content: center;
  align-items: center;
}
.start__btn-container .start__btn {
  height: 50px;
  margin: 50px 150px;
  text-decoration: none;
  color: black;
  font-size: 30px;
  box-shadow: 0px 1px #075e0a, 1px 2px #075e0a, 2px 3px #075e0a, 3px 4px #075e0a, 5px 6px black;
  width: 100px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #2AD331;
  text-align: center;
  padding: 5px 10px;
  cursor: pointer;
}
.start__btn-container .start__btn:hover {
  background-color: #14f81b;
}

.back-to-home__btn:active, .reset__btn:active, .start__btn:active {
  box-shadow: 1px 1px black;
  transform: translate(1px, 2px);
}

#section-2 {
  height: 100vh;
  width: 100vw;
}
#section-2 .game__background-img {
  position: absolute;
  background: url(assets/media/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 90%;
}
#section-2 .tic-tac-toe__container {
  display: grid;
  justify-content: center;
  height: 70vh;
}
#section-2 .tic-tac-toe__container .tic-tac-toe__grid-container {
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 90px 50px 70px;
}
#section-2 .tic-tac-toe__container .tic-tac-toe__grid-container .tic-tac-toe__grid {
  height: 300px;
  width: 300px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
#section-2 .tic-tac-toe__container .tic-tac-toe__grid-container .tic-tac-toe__grid .tic-tac-toe__square {
  border: 3px solid black;
  text-align: center;
  font-size: 70px;
  height: 100px;
  width: 100px;
  cursor: pointer;
}
@media only screen and (min-width: 500px) {
  #section-2 .tic-tac-toe__container .tic-tac-toe__grid-container .tic-tac-toe__grid .tic-tac-toe__square {
    height: 150px;
    width: 150px;
    font-size: 100px;
  }
}
#section-2 .tic-tac-toe__container .tic-tac-toe__grid-container .tic-tac-toe__grid .win-one.player-one__wins, #section-2 .tic-tac-toe__container .tic-tac-toe__grid-container .tic-tac-toe__grid .win-two.player-one__wins, #section-2 .tic-tac-toe__container .tic-tac-toe__grid-container .tic-tac-toe__grid .win-three.player-one__wins,
#section-2 .tic-tac-toe__container .tic-tac-toe__grid-container .tic-tac-toe__grid .win-four.player-one__wins, #section-2 .tic-tac-toe__container .tic-tac-toe__grid-container .tic-tac-toe__grid .win-five.player-one__wins, #section-2 .tic-tac-toe__container .tic-tac-toe__grid-container .tic-tac-toe__grid .win-six.player-one__wins,
#section-2 .tic-tac-toe__container .tic-tac-toe__grid-container .tic-tac-toe__grid .win-seven.player-one__wins, #section-2 .tic-tac-toe__container .tic-tac-toe__grid-container .tic-tac-toe__grid .win-eight.player-one__wins {
  background-color: #FF540A;
}
#section-2 .tic-tac-toe__container .tic-tac-toe__grid-container .tic-tac-toe__grid .win-one.player-two__wins, #section-2 .tic-tac-toe__container .tic-tac-toe__grid-container .tic-tac-toe__grid .win-two.player-two__wins, #section-2 .tic-tac-toe__container .tic-tac-toe__grid-container .tic-tac-toe__grid .win-three.player-two__wins,
#section-2 .tic-tac-toe__container .tic-tac-toe__grid-container .tic-tac-toe__grid .win-four.player-two__wins, #section-2 .tic-tac-toe__container .tic-tac-toe__grid-container .tic-tac-toe__grid .win-five.player-two__wins, #section-2 .tic-tac-toe__container .tic-tac-toe__grid-container .tic-tac-toe__grid .win-six.player-two__wins,
#section-2 .tic-tac-toe__container .tic-tac-toe__grid-container .tic-tac-toe__grid .win-seven.player-two__wins, #section-2 .tic-tac-toe__container .tic-tac-toe__grid-container .tic-tac-toe__grid .win-eight.player-two__wins {
  background-color: #26FFE6;
}
#section-2 .tic-tac-toe__container .tic-tac-toe__grid-container .tic-tac-toe__grid #square-one {
  border-left: transparent;
  border-top: transparent;
}
#section-2 .tic-tac-toe__container .tic-tac-toe__grid-container .tic-tac-toe__grid #square-two {
  border-top: transparent;
}
#section-2 .tic-tac-toe__container .tic-tac-toe__grid-container .tic-tac-toe__grid #square-three {
  border-top: transparent;
  border-right: transparent;
}
#section-2 .tic-tac-toe__container .tic-tac-toe__grid-container .tic-tac-toe__grid #square-four {
  border-left: transparent;
}
#section-2 .tic-tac-toe__container .tic-tac-toe__grid-container .tic-tac-toe__grid #square-six {
  border-right: transparent;
}
#section-2 .tic-tac-toe__container .tic-tac-toe__grid-container .tic-tac-toe__grid #square-seven {
  border-left: transparent;
  border-bottom: transparent;
}
#section-2 .tic-tac-toe__container .tic-tac-toe__grid-container .tic-tac-toe__grid #square-eight {
  border-bottom: transparent;
}
#section-2 .tic-tac-toe__container .tic-tac-toe__grid-container .tic-tac-toe__grid #square-nine {
  border-right: transparent;
  border-bottom: transparent;
}
#section-2 .tic-tac-toe__container .tic-tac-toe__instruction {
  text-align: center;
  margin: 50px;
  font-weight: bold;
}
@media only screen and (min-width: 500px) {
  #section-2 .tic-tac-toe__container .tic-tac-toe__instruction {
    margin: 150px 50px 50px;
  }
}
#section-2 .tic-tac-toe__container .tic-tac-toe__instruction.hide {
  display: none;
}
#section-2 .display-banner-one, #section-2 #display-banner-two, #section-2 .display-banner-draw {
  height: 100px;
  width: 100%;
  padding: 0px 10px;
  border: 3px solid black;
  background-color: #FFFD82;
  display: none;
}
@media only screen and (min-width: 500px) {
  #section-2 .display-banner-one, #section-2 #display-banner-two, #section-2 .display-banner-draw {
    margin-top: 100px;
  }
}
#section-2 .display-banner-one.show, #section-2 #display-banner-two.show, #section-2 .display-banner-draw.show {
  display: block;
  text-align: center;
  font-size: 30px;
  font-weight: lighter;
  padding-top: 18px;
}
@media only screen and (min-width: 500px) {
  #section-2 .display-banner-one.show, #section-2 #display-banner-two.show, #section-2 .display-banner-draw.show {
    width: 100vw;
  }
}

#section-1 {
  height: 100vh;
  width: 100vw;
}
#section-1 .home__background-img {
  position: absolute;
  background: url(assets/media/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 90%;
}
#section-1 .home__header {
  font-size: 64px;
  text-align: center;
  padding: 150px 50px 50px;
}
#section-1 .player__container {
  display: grid;
  justify-content: center;
  align-items: center;
}
#section-1 .player__name-field-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 16px;
  margin: 30px 50px;
  width: 290px;
}
#section-1 .player__name-field-container .player__name {
  font-weight: bold;
  font-size: 16px;
  align-self: center;
  border: 1px solid black;
  padding: 5px 1px;
}
#section-1 .player__name-field-container #player__name-one {
  background-color: #FF540A;
}
#section-1 .player__name-field-container #player__name-two {
  background-color: #26FFE6;
}
#section-1 .player__name-field-container .player__name-field {
  height: 30px;
  align-self: center;
  font-size: 14px;
  padding: 10px 0px;
}
#section-1 .home__instructions-header {
  text-align: center;
  margin: 40px;
  font-size: 30px;
}
#section-1 .home__instructions-description {
  text-align: center;
  margin: 20px;
  font-weight: bolder;
}
@media only screen and (min-width: 945px) {
  #section-1 .home__instructions-description {
    margin: 20px 200px;
  }
}
@media only screen and (min-width: 1300px) {
  #section-1 .home__instructions-description {
    margin: 20px 400px;
  }
}

.back-to-home__btn, .reset__btn, .tic-tac-toe__square, .scoreboard__header, .home__header, .home__instructions-header, .start__btn, .display-banner-one.show, #display-banner-two.show {
  font-family: "Caveat Brush", cursive;
}

.tic-tac-toe__instruction, .player__name-field-container, .home__instructions-description {
  font-family: "Raleway", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}