.back-to-home__container {
  padding: 20px 20px 0px;
}

.back-to-home__btn-container {
  background-color: #FFFD82;
  height: 50px;
  width: 200px;
  border: 2px solid black;
  text-align: right;
  // margin-top: 30px;
  padding: 12px;
  display: flex;

  .back-to-home__arrow {
    font-size: 30px;
    font-weight: bold;
    line-height: 20px;
  }

  .back-to-home__btn {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-left: 5px;
  }
}

.reset__btn {
  height: 30px;
  width: 90px;
  margin: 20px 150px;
  background-color: #820933;
  border: 2px solid black;
  font-size: 18px;
  color: white;
}

.start__container {
  display: grid;
  justify-content: center;
  align-items: center;
}

.start__btn-container {
  background-color: #2AD331;
  height: 50px;
  width: 100px;
  border: 2px solid black;
  text-align: center;
  margin: 50px 150px;
}
.start__btn {
  text-decoration: none;
  color: black;
  font-size: 30px;
}