@import "_variables";

.back-to-home__btn-container {
  padding: 20px 20px 0px;
  
  .back-to-home__btn {
    text-decoration: none;
    color: $primary-colour;
    font-size: 20px;
    padding-left: 5px;
    background-color: $back-to-home-btn-colour;
    box-shadow: 0px 1px $back-to-home-btn-shadow, 1px 2px $back-to-home-btn-shadow, 2px 3px $back-to-home-btn-shadow,
                3px 4px $back-to-home-btn-shadow, 5px 6px $primary-colour;
    width: 200px;
    border: 2px solid $primary-colour;
    border-radius: 5px;
    text-align: right;
    padding: 12px;
    height: 50px;
  }

  .back-to-home__btn:hover {
    background-color: $back-to-home-btn-hover;
  }
}

.reset__btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .reset__btn {
    height: 30px;
    width: 90px;
    margin: 100px 150px 0;
    text-align: center;
    background-color: $reset-btn-colour;
    box-shadow: 0px 1px $reset-btn-shadow, 1px 2px $reset-btn-shadow, 2px 3px $reset-btn-shadow,
                3px 4px $reset-btn-shadow, 5px 6px $primary-colour;
    border: 2px solid $primary-colour;
    border-radius: 5px;
    font-size: 18px;
    color: $secondary-colour;
  }

  .reset__btn:hover {
    background-color: $reset-btn-hover;
    cursor: pointer;
  }
}

.start__btn-container {
  display: grid;
  justify-content: center;
  align-items: center;

  .start__btn {
    height: 50px;
    margin: 50px 150px;
    text-decoration: none;
    color: $primary-colour;
    font-size: 30px;
    background-color: $start-btn-colour;
    box-shadow: 0px 1px $start-btn-shadow, 1px 2px $start-btn-shadow, 2px 3px $start-btn-shadow,
                3px 4px $start-btn-shadow, 5px 6px $primary-colour;
    width: 100px;
    border: 2px solid $primary-colour;
    border-radius: 5px;
    text-align: center;
    padding: 5px 10px;
    cursor: pointer;
  }

  .start__btn:hover {
    background-color: $start-btn-hover;
  }
}

.back-to-home__btn:active, .reset__btn:active, .start__btn:active {
  box-shadow: 1px 1px $primary-colour;
  transform: translate(1px, 2px);
}