#section-2 {
  height: 100vh;
  width: 100vw;

  .game__background-img {
    position: absolute;
    background: url(assets/media/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 90%;
  }

  .tic-tac-toe__container {
    display: grid;
    justify-content: center;
    height: 70vh;
  
    .tic-tac-toe__grid-container {
      display: grid;
      align-items: center;
      justify-content: center;
      margin: 90px 50px 70px;
  
      .tic-tac-toe__grid {
        height: 300px;
        width: 300px;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
  
        .tic-tac-toe__square {
          border: 3px solid black;
          text-align: center;
          font-size: 70px;
          height: 100px;
          width: 100px;
        
        @media only screen and (min-width: 500px) {
          height: 150px;
          width: 150px;
          font-size: 100px;
        }
        }
  
        .win-one.player-one__wins, .win-two.player-one__wins, .win-three.player-one__wins {
          background-color: #FF540A;
        }
        
        .win-one.player-two__wins, .win-two.player-two__wins, .win-three.player-two__wins {
          background-color: #26FFE6;;
        }
        
        #square-one {
          border-left: transparent;
          border-top:transparent;
        }
        
        #square-two {
          border-top: transparent;
        }
        
        #square-three {
          border-top: transparent;
          border-right: transparent;
        }
        
        #square-four {
          border-left: transparent;
        }
        
        #square-six {
          border-right: transparent;
        }
        
        #square-seven {
          border-left: transparent;
          border-bottom: transparent;
        }
        
        #square-eight {
          border-bottom: transparent;
        }
        
        #square-nine {
          border-right: transparent;
          border-bottom: transparent;
        }
      }
     }
    .tic-tac-toe__instruction {
    text-align: center;
    margin: 50px;
    font-weight: bold;
    
    @media only screen and (min-width: 500px) {
      margin: 150px 50px 50px;
    }
    }
    
    .tic-tac-toe__instruction.hide {
      display: none;
    }
  }
}