.tic-tac-toe__container {
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 50px;
 }

.tic-tac-toe__grid {
  height: 300px;
  width: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.tic-tac-toe__square {
  border: 3px solid black;
}

.tic-tac-toe__instruction {
  text-align: center;
  margin: 30px;
  font-weight: bold;
}

.scoreboard__container {
  border: 3px solid black;
  background-color: #FF9B71;
  height: 140px;
  width: 200px;
  margin: 30px 100px;
}

.scoreboard__header {
  text-align: center;
  font-size: 22px;
  font-weight: lighter;
}