$back-to-home-btn-colour: #FFFD82;
$back-to-home-btn-shadow: #868530;
$back-to-home-btn-hover: #fffb25;

$reset-btn-colour: #820933;
$reset-btn-shadow: #4d051e;
$reset-btn-hover: #c41250;

$start-btn-colour: #2AD331;
$start-btn-shadow: #075e0a;
$start-btn-hover: #14f81b;

$player-one-colour: #FF540A;
$player-two-colour: #26FFE6;

$primary-colour: black;
$secondary-colour: white;

$medium-screen: 500px;
$large-screen: 945px;
$larger-screen: 1300px;